html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
  z-index: 10;
  position: fixed;
  overflow: hidden;
    width: 100%;
    opacity: 0.9;
    background: #424242;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
    height:7vh;
  }



.item_logo{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 17px;
}

.menu {
  margin-left: 143px;
}
.menu_list {
  display: flex;
  align-items: center;
  margin: 300px;
  margin: auto;
}

.menu_list_second{
  display: flex;
  align-items: center;
  width: 250px;
  margin-left: 60px;

}


.menu_list-link {
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-left: 50px;
}
.menu_list-link li a:first-child{
  border-bottom: 4px solid #DBA901;

}

.menu_list-link:hover {
  color: #fff;
  transition: 0.3s;
  padding: 2rem;
  max-width: 14rem;
  background-color: #DBA901;
  border-radius: 4px;
  max-width: 50rem;
}




.pricing_list-item{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 5px 35px ;
  border-radius: 50px;
  border: none;
  margin: auto;
  font-size: 16px;
  background: #DBA901;
  text-align: center;
  color:#424242;
  border:none;
  cursor: pointer;
  margin-left: 30px;
}

.sing_in{
  display: flex;
  align-items: center;
}

#Sing_in{
  margin-left: 20px;
   cursor: pointer;
   margin-top: 3px;
  font-size: 22px;
  text-align: center;
  color: #D8D8D8;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
}
#Sing_in:hover{
  color: #DBA901;
  transition: 0.3s;
}


.sing_up-link{
  width: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: no-repeat;
  color: #D8D8D8;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.sing_up-link:hover{
  color: #DBA901;
  transition: 0.3s;

}







.img_music_page{
  position: absolute;
  height: 100vh;
  width: 100%;

}

.some{
  position: absolute;
  height: 100vh;
  background: #000;
  width: 100%;
  opacity: 0.9;
  height: 100vh;

}

.main_title p{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

  margin: auto;


  font-size: 70px;
  color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
input {
    height: 45px;
    width: 100%;
    color: #888888;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #888888;
    border-radius: 5px;
    padding-left: 25px;
}
input:focus {
    outline: none;
    border: 2px solid ;
}
input:valid {
    border-color: ;
}
input:invalid {
    border-color: orange;
}
input:not(:focus):invalid {
    border-color: #888888;
}


@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px;
    }
    25% {
        width: 2000px;
        height: 2000px;
    }
    50% {
        width: 1500px;
        height: 1500px;
    }
    75% {
        width: 1000px;
        height: 1000px;
    }
    100% {
        width: 534px;
        height: 534px;
    }
}
.register-form-container {
    position: absolute;
    margin: 0 auto;
    margin-left: 500px;
    margin-top: 130px;
    z-index: 5;
    max-width: 415px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.09s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}
.form-title {
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}
.form-field {
    margin-bottom: 13px;
}
.button {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: #DBA901;
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}
.button:hover {
    background-color: #DBA901;
}
a.button {
    text-decoration: none;
}
.button-google {
    color:#000;
    background: #fff;
}
.button-google:hover {
    background: #E2E6F0;
    color: #888888;
}
.divider {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #DBA901;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
 input[type="text"] {
    background: no-repeat;
}
 input[type="email"] {
    background: no-repeat;
}
 input[type="password"] {
    background: no-repeat;
}

.sing_up{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.sing_up p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #B6B3B3;
}

.sing_up a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  margin-left: 5px;
}

.sing_up a:hover{
  color: #DC1A1A;
  transition: 0.3s;
}
